<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/entry.css">
</head>

<body>
    <div class="logo">
        <span class="d">D</span>
        <span class="r">r</span>
        <span class="o">O</span>
    </div>
    <div class="container glass">
        <button type="submit" class="btn"><a class="link" href="../views/login.html">Login</a></button>
        <button type="submit" class="btn"><a class="link" href="../views/register.html">Register</a></button>
    </div>
</body>

</html>