<!DOCTYPE html>
<html lang="ro">

<head>
    <link rel="stylesheet" href="../../public/css/groups.css">
    <link rel="stylesheet" href="../../public/css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Aceasta pagina contine toate tipurile de bauturi disponibile in aplicatia noastra.">
    <title>Acasa</title>
    <style>
        body {
            background-image: url("../public/poze/main.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <h1>DrO</h1>
                <div class="menu">
                    <a href="../views/home.html">Acasa</a>
                    <a href="../views/lists.html">Liste</a>
                    <a href="/grupuri" class="is-active">Grupuri</a>
                    <a href="/stats">Stats</a>
                    <a href="/rss">
                        <i class="fa-solid fa-rss"></i>
                    </a>
                    <a href="../views/login.html">Login</a>
                </div>
                <button class=" hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>
        <div class="mobile-menu">
            <a href="../views/home.html">Acasa</a>
            <a href="../views/lists.html">Liste</a>
            <a href="/grupuri">Grupuri</a>
            <a href="/stats">Stats</a>
            <a href="/rss">
                <i class="fa-solid fa-rss"></i>
            </a>
        </div>
    </header>
    <div class="catalog">
        <aside class="sidebar">
            <h2 id="filter-title">Grupuri</h2>
            <form class="filter-form">
                <!-- <div class="filter-search">
                    <input type="search" id="search-group" placeholder="Caută grupuri..." />
                </div> -->
                <div class="groups-list">
                </div>
            </form>
            <button id="create-group-button" class="create-group-button" onclick="handleJoinGroup()">Intră într-un
                grup</button>
        </aside>
        <div class="cards-section">
            <!-- <div class="sort-section">
                <label for="sort-select" class="sort-label">Sortare:</label>
                <select id="sort-select" class="sort-select">
                    <option value="name-asc" onselect="sortByNameAscending()">Nume (A → Z)</option>
                    <option value="name-desc">Nume (Z → A)</option>
                    <option value="category-asc">Categorie (A → Z)</option>
                    <option value="category-desc">Categorie (Z → A)</option>
                </select>
            </div> -->
            <div class="posts-container">
                <div class="empty-post">
                    <h2>Selectează un grup pentru a vedea detalii</h2>
                    <p>Grupurile tale vor apărea aici.</p>
                </div>
            </div>
        </div>

        <script src="../public/js/main.js"></script>
        <script src="../public/js/groups.js"></script>
</body>

</html>